.low {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(0, 187, 16);
}

.moderate {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(255, 174, 0);
}

.high {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(252, 40, 40);
}

.icons_edit_trash {
    cursor: pointer;
}

.modal_shadow{
    border: 1px solid white;
    border-radius: 10px;
}
